{% extends '../base/base.html' %} {% load static %} {%block title%} Assessment |
coroNAHworry {%endblock%} {% block customcss %}
<link rel="stylesheet" href="{% static 'css/assesment/assessment.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{% endblock %} {%block content%}
<div id="test">
  <div class="assessTitleDiv">
    <h1 class="assessTitle">
      Corona Assesment
      <img
        src="https://vik.kompas.com/viruscorona/images/virus.png"
        alt="virus"
      />
    </h1>
    {{data}}
  </div>
  <form id="createForm" method="POST">
    {% csrf_token %}
    <div>
      <div class="questionDiv">
        <label
          >Apakah anda mengalami demam dengan suhu di atas 38°C
          (100.4°F)?</label
        >
        {{form.suhu}}
      </div>
      <div class="questionDiv">
        <label>Apakah ada batuk (atau disertai dengan batuk)?</label>
        {{form.batuk}}
      </div>
      <div class="questionDiv">
        <label
          >Apakah anda mengalami sesak saat bernafas (tekanan pada dada)?</label
        >
        {{form.sesak}}
      </div>
      <div class="questionDiv">
        <label
          >Apakah terdapat riwayat kontak (misalnya: berjabat tangan, mengobrol
          lama, berada dalam satu ruangan) dengan orang yang sudah dinyatakan
          positif terinfeksi virus Corona dalam 14 hari terakhir?</label
        >
        {{form.kontak_positif}}
      </div>
      <div class="questionDiv">
        <label
          >Apakah ada kontak (misalnya: berjabat tangan, mengobrol lama, berada
          dalam satu ruangan) dengan orang yang memiliki gejala flu, yaitu
          demam, batuk, dan pilek, atau dengan orang yang diduga terinfeksi
          virus Corona dalam 14 hari terakhir?</label
        >
        {{form.kontak_gejala}}
      </div>
      <div>
        <a
          href="{% url 'assessment:landing' %}"
          class="btn btn-outline-danger"
          style="margin-top: 20px; margin-right: 10px"
          >Back</a
        >
        <input
          style="margin-top: 20px"
          class="btn btn-primary"
          type="submit"
          value="Submit"
          onclick="create()"
        />
      </div>
    </div>
  </form>
</div>
<div id="id01" class="modal">
  <form class="modal-content" action="">
    <div class="container-modal">
      <h1>Thank you for using coroNAHworry!</h1>
      <img
        src="https://image.freepik.com/free-vector/positive-people-facing-new-normal_23-2148636539.jpg"
      />
      <p>
        Your result is here. Don't forget to always wear mask and do social
        distancing. Hope you and your family are healthy and safe during these
        uncertain and unprecedented times.
      </p>
      <div class="clearfix">
        <a id="cancelbtn" class="btn btn-outline-danger">Back for another</a>
        <a id="hidebtn" class="btn btn-outline-primary">Check</a>
      </div>
    </div>
  </form>
</div>
{% endblock %} {%block customjs%}
<script>
  function create() {
    event.preventDefault();
    var suhu = document.getElementById("id_suhu").value;
    var batuk = document.getElementById("id_batuk").value;
    var sesak = document.getElementById("id_sesak").value;
    var kontak_positif = document.getElementById("id_kontak_positif").value;
    var kontak_gejala = document.getElementById("id_kontak_gejala").value;

    $.ajax({
      type: "POST",
      url: "{% url 'assessment:index' %}",
      dataType: "json",
      data: {
        suhu: suhu,
        batuk: batuk,
        sesak: sesak,
        kontak_positif: kontak_positif,
        kontak_gejala: kontak_gejala,
        action: "post",
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
      },
      success: function (data) {
        document.getElementById("id01").style.display = "block";
        var modal = document.getElementById("id01");

        var href = String("{% url 'assessment:result' 999 %}").replace(
          /999/gi,
          data.id
        );

        a = document.getElementById("hidebtn");
        a.setAttribute("href", href);

        window.onclick = function (event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
          if (event.target == cancelbtn) {
            modal.style.display = "none";
            $("#createForm")[0].reset();
          }
        };
      },
      error: function () {
        console.log("Error");
      },
    });
  }
</script>

{% endblock %}
