{% extends '../base/base.html' %} {% load static %} {%block title%} Assessment |
coroNAHworry {%endblock%} {% block customcss %}
<link rel="stylesheet" href="{% static 'css/assesment/landing.css' %}" />
{% endblock %} {%block content%}
<div class="landing-div">
  <div class="landing-img">
    <img
      src="https://portal.posipedia.co/wp-content/uploads/2020/06/covid19-protocolos-bioseguridad.png"
    />
  </div>
  <div class="content">
    <h1>COVID-19 self-assessment</h1>
    <p>
      This resource can help you decide what kind of medical care you might need
      for COVID‑19
    </p>
    <div class="buttons">
      <a href="{% url 'assessment:index' %}" class="btn btn-outline-primary">
        Take the test
      </a>
      <a href="{% url 'assessment:results' %}" class="btn btn-outline-primary">
        See my results
      </a>
    </div>
  </div>
</div>
{% endblock %}
