{% extends '../base/base.html' %} {% load static %} {%block title%} Assessment |
coroNAHworry {%endblock%} {% block customcss %}
<link rel="stylesheet" href="{% static 'css/assesment/results.css' %}" />
{% endblock %} {%block content%}
<div class="results-div">
  <div class="header-div">
    <h1>Your assessment results</h1>
    <a href="{% url 'assessment:index' %}" class="btn btn-outline-primary"
      >Take a test</a
    >
  </div>
  <table id="table" class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Assessment</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% if datas %} {% for data in datas %}
      <tr name="row">
        <td onclick="coba({{data.id}})"></td>
        <td onclick="coba({{data.id}})">Assessment #</td>
        <td onclick="coba({{data.id}})">{{data.created_at}}</td>
        <td>
          <a class="btn btn-outline-danger" onclick="confirmation({{data.id}})"
            >Hide</a
          >
        </td>
      </tr>
      {% endfor %} {% endif %}
    </tbody>
  </table>
</div>
<div id="id01" class="modal">
  <form class="modal-content" action="">
    <div class="container-modal">
      <h1>Hide this Assessment</h1>
      <img
        src="https://www.freeiconspng.com/uploads/16x16-x-icon-vector-16.png"
        alt="x"
      />
      <p>Are you sure you want to hide this assessment?</p>
      <div class="clearfix">
        <a id="cancelbtn" class="btn btn-outline-primary">Cancel</a>
        <a id="hidebtn" class="btn btn-outline-danger">Hide</a>
      </div>
    </div>
  </form>
</div>
{% endblock %} {% block customjs %}
<script>
  $(document).ready(function () {
    var table = $("table")[0];
    if (table.rows.length < 2) {
      document.getElementById("table").style.display = "none";
      $(".results-div").append(
        "<div id='imgdiv'><img class='empty-img' alt='notfound' src='https://ouch-cdn.icons8.com/preview/606/90c1f2d7-b42f-4d7e-9d17-e183179862b7.png'/></div>"
      );
      $("#imgdiv").prepend(
        "<h1>Couldn't find any assessment results of yours!</h1>"
      );
    }

    $("[name='row']").hover(
      function () {
        $(this).addClass("highlight");
      },
      function () {
        $(this).removeClass("highlight");
      }
    );
  });

  function coba(id) {
    location.href = String("{% url 'assessment:result' 999 %}").replace(
      /999/gi,
      id
    );
  }

  function confirmation(id) {
    document.getElementById("id01").style.display = "block";
    var modal = document.getElementById("id01");

    var href = String("{% url 'assessment:hide' 999 %}").replace(/999/gi, id);

    a = document.getElementById("hidebtn");
    a.setAttribute("href", href);

    window.onclick = function (event) {
      if (event.target == modal || event.target == cancelbtn) {
        modal.style.display = "none";
      }
    };
  }
</script>
{% endblock %}
