.assessTitleDiv {
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 30px;
}

.assessTitleDiv img {
  height: 35px;
  padding-bottom: 5px;
}

.assessTitle {
  font-size: 40px;
  font-weight: 700;
}

.questionDiv {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 20px;
  text-align: justify;
}

.questionDiv label {
  max-width: 60%;
  padding-left: 10px;
  font-size: 16px;
}

#id_suhu,
#id_batuk,
#id_kontak_positif,
#id_kontak_gejala,
#id_sesak {
  width: 65%;
}

.back {
  display: flex;
  flex-direction: row;
}

/** MODAL **/
/* Float cancel and delete buttons and add an equal width */
#cancelbtn,
#hidebtn {
  width: 40%;
  margin: auto;
}

.clearfix {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

/* Add padding and center-align text to the container */
.container-modal {
  padding: 16px;
  text-align: center;
  height: 100%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0, 0.7);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 56%;
}

.modal-content h1 {
  font-size: 28px;
  width: fit-content;
  margin: auto;
}

.modal-content p {
  margin: auto;
  margin-bottom: 25px;
}

.modal-content h1 {
  margin-bottom: 10px;
}

.modal-content img {
  height: 170px;
}

/* Style the horizontal ruler */
/* hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
} */

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  #cancelbtn,
  #hidebtn {
    width: 100%;
  }
}
