.landing-div h1 {
  width: fit-content;
  margin: auto;
  font-size: 32px;
  font-weight: 700;
}

.landing-img {
  width: fit-content;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.landing-img img {
  height: 400px;
  width: 500px;
}

.content p {
  width: fit-content;
  margin: auto;
  margin-top: 15px;
}

.buttons {
  width: 280px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 20px;
}
