.low {
  margin-top: 80px;
}

.golonganDiv {
  margin: auto;
  width: fit-content;
}

.golonganDiv h1 {
  font-size: 30px;
  font-weight: 500;
}

#type {
  width: fit-content;
  margin: auto;
  color: green;
  font-weight: 800;
}

.content {
  width: 841px;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.img {
  width: 400px;
}

.contentText {
  width: 420px;
}

.content img {
  width: 300px;
  height: 300px;
}

.content p {
  text-align: justify;
}

.content ul {
  list-style: none;
  padding: 0;
}
.content li {
  padding-left: 1.3em;
  text-align: justify;
}

.content li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
  color: green;
}

.contentText {
  margin-top: 30px;
}

button {
  float: right;
  margin-top: 20px;
  margin-right: 160px;
}
