.results-div h1 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 35px;
}

table tbody {
  counter-reset: rowNumber;
}
table tbody tr {
  counter-increment: rowNumber;
}
table tr td:first-child::before {
  content: counter(rowNumber);
}

table tr td:nth-child(2)::after {
  content: counter(rowNumber);
}

.table a {
  height: 25px;
  width: 55px;
  font-size: 10px;
}

/** MODAL **/
/* Float cancel and delete buttons and add an equal width */
#cancelbtn,
#hidebtn {
  width: 40%;
  margin: auto;
}

.clearfix {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

/* Add padding and center-align text to the container */
.container-modal {
  padding: 16px;
  text-align: center;
  height: 100%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0, 0.7);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  height: 50%;
}

.modal-content h1 {
  font-size: 28px;
  width: fit-content;
  margin: auto;
}

.modal-content p {
  margin: auto;
  margin-bottom: 20px;
}

.modal-content img {
  height: 170px;
}

/* Style the horizontal ruler */
/* hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
} */

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  #cancelbtn,
  #hidebtn {
    width: 100%;
  }
}

#imgdiv {
  width: fit-content;
  margin: auto;
}

#imgdiv h1 {
  margin: 0;
  width: fit-content;
  margin: auto;
  font-size: 26px;
}

.empty-img {
  height: 500px;
}

.highlight {
  background-color: #e0e0e0;
  cursor: pointer;
}

.header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-div a {
  height: 50%;
  margin-top: 20px;
}
