{% extends './../base/base.html' %}
{% load static %}

{% block title %}Komentar{% endblock %}

{% block customcss %}
<style>
    @keyframes bounce {
        0%, 100%, 20%, 50%, 80% {
            -webkit-transform: translateY(0);
            -ms-transform:     translateY(0);
            transform:         translateY(0)
        }
        40% {
            -webkit-transform: translateY(-30px);
            -ms-transform:     translateY(-30px);
            transform:         translateY(-30px)
        }
        60% {
            -webkit-transform: translateY(-15px);
            -ms-transform:     translateY(-15px);
            transform:         translateY(-15px)
        }
    }
    .btn-reaction {
        color: #212529;
    }
    .btn-reaction:hover {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
    }
    #reaction-bar {
        display: none;
        width: 270px;
        background-color: white;
        color: black;
        text-align: center;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 40px;
        padding: 13px 0;
        position: absolute;
        z-index: 1;
        bottom: 115%;
        left: 50%;
        margin-left: calc(-270px/2);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .reaction-item {
        width: 60px;

        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        -webkit-animation-iteration-count: 1;
    }
    .reaction-item:hover {
        animation-name: bounce;
        -moz-animation-name: bounce;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-12 col-md-12 my-3">
        <div class="card box-shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                            {% if not postingan.user.first_name and not postingan.user.last_name %}
                                {{ postingan.user.username }}
                            {% else %}
                                {{ postingan.user.first_name }} {{ postingan.user.last_name }}
                            {% endif %}
                            <div style="font-size:10px">{{postingan.time}}</div>
                        </div>
                        <div class="mt-3">
                            {{ postingan.message }}
                        </div>
                        <hr>
                        <div class="text-center" style="position: relative;">
                            <a class="btn btn-reaction" id="btn-reaction">
                                <img width="60" src="{% static 'img/komentar/expressionless.svg' %}"></img>
                            </a>
                            <div id="reaction-bar">
                                <img class="reaction-item mr-2" data="1" src="{% static 'img/komentar/hearts.svg' %}"></img>
                                <img class="reaction-item mr-2" data="2" src="{% static 'img/komentar/confused.svg' %}"></img>
                                <img class="reaction-item" data="3" src="{% static 'img/komentar/angry.svg' %}"></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-md-12 my-3">
        <div class="card box-shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                            Komentar
                        </div>
                        <hr>
                        <div id="komentar-bar">
                            <!-- {% for comment in comments %}
                                <div class="komentar-item">
                                    <div class="font-weight-bold">
                                        {% if not comment.user.first_name and not comment.user.last_name %}
                                            {{ comment.user.username }}
                                        {% else %}
                                            {{ comment.user.first_name }} {{ comment.user.last_name }}
                                        {% endif %}
                                        {{ comment.pub_date }}
                                        
                                    </div>
                                    <div>{{ comment.content }}</div>
                                    <hr>
                                </div>
                            {% endfor %} -->
                        </div>
                        {% if form.errors %}
                        <div class="alert alert-danger" role="alert" style="text-align: left;">
                            There are some errors:
                            <ul class="mb-0">
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <input id="postingan-id" hidden type="text" value="{{ postingan.pk }}" readonly></input>
                        <div id="komentar-form">
                            <div class="form-group mt-3">
                                <textarea name="content" id="komentar-input" style="overflow-y: hidden; resize: none;" class="form-control" rows="1" maxlength="200" placeholder="Tulis komentar..." style="resize: none;"></textarea>
                                <span class="float-right">
                                    <span id="komentar-length">0</span>
                                    / 200
                                </span>
                            </div>
                            <!-- <button id="komentar-btn" class="btn btn-primary" value="Submit">Kirim</button> -->
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customjs %}
<script src="{% static 'js/komentar.js' %}"></script>
{% endblock %}