<!-- Footer -->
<div class="footer">
  <footer class="page-footer font-small" style="background-color:#065a6ec7;">
    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
      <div class="container mx-5 pt-5 px-5">
          <!-- Content -->
          <div class="text-center text-white">
            <h5 class="text-uppercase font-weight-bold">About Website</h5>
          <p>coroNAHworry merupakan website yang memiliki tujuan untuk menghilangkan kebosanan ditengah pandemi, dengan
          berbagai fitur seperti assessment corona, berbagi curhatan, dan berbagi kegiatan.</p>
  
          <h5 class="text-uppercase font-weight-bold">Group Member</h5>
          <p>Kak Daus | Josias | Vanni | Faishol | Adit</p>
          <p><b>Made by Group C03</b></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<!-- Footer -->