{% extends '../base/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'css/form-login.css' %}">
{% endblock %}

{% block content %}
<form class="form-signin" method="POST">
	<div class="text-center mb-4">
		<!-- <img class="mb-4" src="static/img/registration.svg" alt="" width="250"> -->
		<h1 class="h3 mb-3 font-weight-bold">REGISTER</h1>
		{% if form.errors %}
		<div class="alert alert-danger" role="alert" style="text-align: left;">
			There are some errors:
			<ul class="mb-0">
				{% for field, errors in form.errors.items %}
					{% for error in errors %}
						<li>{{ error }}</li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
	{% csrf_token %}
	<div class="form-label-group">
		<input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
		<label for="inputUsername">Username</label>
	</div>
	<div class="form-label-group">
		<input type="password" id="inputPassword" name="password1" class="form-control" placeholder="Password" required>
		<label for="inputPassword">Password</label>
    </div>
    <div class="form-label-group">
		<input type="password" id="inputPasswordConfirm" name="password2" class="form-control" placeholder="Password" required>
		<label for="inputPasswordConfirm">Password Confimation</label>
    </div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>
{% endblock %}