.switch {
    display: inline-block;
    position: relative;
    margin: auto;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background: #dfd9ea;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
}
.switch::before {
    content: '';
    position: absolute;
    margin: auto;
    top: 1px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #fafafa;
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
}

input:checked + .switch {
    background: #065a6ec7;
}

input:checked + .switch::before {
    left: 27px;
    background: #fff;
}

input:checked + .switch:active::before {
    box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(0,150,136,0.2);
}

.dark-bg {
    background-color: #065a6ec7 !important;
    color: white !important;
    transition: .5s ease-out;
}

.p {
    font-size:15pt;
}

#duration, #desc {
    display: none;
}

input[type="text"]{
	width: 95%;
    display: inline-block;
}


/*ini hasilBMI*/
.img {
    opacity:0;
    transform: translate(50px, 0) rotate(-360deg);
    transition: 1s;
}

.img.rise {
    opacity:1;
    transform: translate(0,0);
}

/*list*/
.row .card {
    opacity:0;
    transform: translate(0, -40px);
    transition: .5s;
}
 
.row .card.rise {
    opacity:1;
    transform: translate(0,0);
}