{% extends "base/base.html" %}

{% load static %}


{% block title %}Edit Profile{% endblock %}
{% block customcss %}
<link rel="stylesheet" href="{% static "css/profile.css" %}">
{% endblock %}
{% block content %}

<br>
<center>
    <legend class="border-bottom mb-4">Profile Info <img src = "{% static 'img/profile/download.png' %}"width=20 height=20> </legend>
</center>

    <div class="card mb-3"> 
        <div class="card-body">

            <input type ="text" name="id" value = "{{user.pk}}" hidden id="userid">

            <div>
               
                <div class="row">
        
                    <div class="col-sm-3">
                        <h6 class="mb-0">Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" >
                        <input name='nama' id='nama' class="form-control" cols="40" rows="5" required maxlength="200" placeholder="Tulis nama">
                    </div>
                </div>
            <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Age </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input name='age' id='umur' class="form-control" cols="40" rows="5" required maxlength="200" placeholder="Tulis umur">
                    </div>
                </div>
            <hr>
                <div class="row">
                    <div class="col-sm-3">
                    <h6 class="mb-0">Residence</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input name='residence' id='domisili' class="form-control" cols="40" rows="5" required maxlength="200" placeholder="Tulis domisili">
                    </div>
                </div>
            <hr>
                <div class="row">
                    <div class="col-sm-3">
                    <h6 class="mb-0">Weight</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input name='weight' id='berat' class="form-control" cols="40" rows="5" required maxlength="200" placeholder="Tulis berat"> Kg
                    </div>
                </div>
            <hr>
                <div class="row">
                    <div class="col-sm-3">
                    <h6 class="mb-0">Height </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input name='height' id='tinggi' class="form-control" cols="40" rows="5" required maxlength="200" placeholder="Tulis tinggi"> Cm
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <center>
                    <button  class="btn btn-success" id="submit">Save</button>
                    <a href="{% url 'akun:profile_dua' %}" class="btn btn-danger">Back</a>
                    </center>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block customjs %}
<script src="{% static 'js/profile.js' %}"></script>


{% endblock %}
