{% extends '../base/base.html' %}
{% load static %}

{% block title %}Curhat{% endblock title %}



{% block content %}
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<div class="row">
    <div class="col-xl-12 col-md-12 my-3">
        <div class="card box-shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="form-group">
                            {% csrf_token %}
                            {% comment %} <textarea name="{{ form.message.name }}" class="form-control" cols="40" rows="5" required maxlength="200" placeholder="Tulis curhatan..."></textarea> {% endcomment %}
                            <textarea name="content" id="cnt" class="form-control" cols="40" rows="5" required maxlength="200" placeholder="Tulis curhatan..."></textarea>
                        </div>
                        <button id="Submit" class="btn btn-primary" value="Submit">Kirim</button>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id ='postlist' class = 'w-100'>

    </div>

    {% comment %} {% for i in post %} {% endcomment %}
    {% comment %} <div class="col-xl-12 col-md-12 my-3">
        <div class="card box-shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                            {% if not i.user.first_name and not i.user.last_name %}
                                {{i.user.username}}
                            {% else %}
                                {{ i.user.first_name }} {{ i.user.last_name }}
                            {% endif %}
                            <div style="font-size:10px">{{i.time}}</div>
                        </div>
                        <br>
                        {{ i.message }}
                        <hr>
                        <a href="{% url 'komentar:index' postid=i.id %}">
                        <img class="reply" src="/static/img/reply.png" alt="reply" width="25" height="25"></img>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    {% comment %} {% endfor %} {% endcomment %}
</div>

<script>
$(document).ready(function(){
    $.ajax({
        url: "/curhat/list/",
        dataType: "json",
        type: "GET",
        success: function(res){
            var postlist = $('#postlist')
            postlist.empty();
            console.log(res);
            for (i=0; i<res['content'].length; i++){
                var message = res['content'][i]['message'];
                var user = res['content'][i]['user'];
                var time = res['content'][i]['time'];
                var id = res['content'][i]['id'];
                console.log(message)

                var result ='<div class="col-xl-12 col-md-12 my-3 w-100">'+
                                '<div class="card box-shadow h-100">'+
                                    '<div class="card-body">'+
                                        '<div class="row no-gutters align-items-center">'+
                                            '<div class="col mr-2">'+
                                                '<div class="text-xs font-weight-bold text-uppercase mb-1">'+
                                                    user+
                                                    '<div style="font-size:10px">'+ time +'</div>'+
                                                '</div>'+
                                                '<br>'+
                                                message+
                                                '<hr>'+
                                                '<a class="rep" href="/curhat/'+id+'/view/">'+
                                                '<img class="reply" src="/static/img/reply.png" alt="reply" width="25" height="25"></img>'+
                                                '</a>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>';

                postlist.append(result);
            }
        }
        })

});

$(document).on("mouseenter", ".reply", function(){
    $(this).attr("src","/static/img/reply2.png");
});

$(document).on("mouseleave", ".reply", function(){
    $(this).attr("src","/static/img/reply.png");
});

$("#Submit").click(function(){
    var content = $('#cnt').val();
    var res;

    $.ajax({
        url: "/curhat/create/",
        data: {"content": content, "csrfmiddlewaretoken":$('input[name=csrfmiddlewaretoken').val()},
        type: "POST",
        method: "POST",
        success: function(res){
            var postlist = $('#postlist')
            console.log(res);
            var message = res["item"]["message"];
            var user = res["item"]["user"];
            var time = res["item"]["time"];
            var id = res["item"]["id"];
            var result ='<div class="col-xl-12 col-md-12 my-3">'+
                                '<div class="card box-shadow h-100">'+
                                    '<div class="card-body">'+
                                        '<div class="row no-gutters align-items-center">'+
                                            '<div class="col mr-2">'+
                                                '<div class="text-xs font-weight-bold text-uppercase mb-1">'+
                                                    user+
                                                    '<div style="font-size:10px">'+ time +'</div>'+
                                                '</div>'+
                                                '<br>'+
                                                message+
                                                '<hr>'+
                                                '<a class="rep" href="curhat/'+id+'/view/">'+
                                                '<img class="reply" src="/static/img/reply.png" alt="reply" width="25" height="25"></img>'+
                                                '</a>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>';
            postlist.append(result);  
            }
    });
    $("#cnt").val("");
});
</script>
{% endblock %}
