{% extends '../base/base.html' %}
{% load static %}

{% block title %}
    CreateActivity
{% endblock title %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'css/workout.css' %}">
{% endblock %}

{% block content %}
<div class="wrapper col-12 my-5 py-3">
    <div class="container mt-5">
        <h3 class="text-xs text-center font-weight-bold text-uppercase mb-1">Bagikan kegiatanmu dengan orang lain</h3>
        <div class="rowa">
            <div class="col-xl-12 col-md-12 my-3">
                <div class="card box-shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                               <form method="POST", action="">
                                {% csrf_token %}
                                {{ form.user }}
                                <div class="form-group" id="title">
                                    <label>Judul :</label>
                                    <input name='title' id='ti' class="form-control" cols="40" rows="5" required maxlength="200" placeholder="Tulis judul">
                                </div>
                                <div class="form-group" id="desc">
                                    <label>Deskripsi :</label>
                                    <textarea name="desc" id='de' class="form-control" cols="40" rows="5" required maxlength="200" placeholder="Tulis deskripsi"></textarea>
                                </div>
                                <div class="form-group" id="duration">
                                    <label>Durasi :</label>
                                    <select  name="duration" id='dur' class="form-control" required>
                                        <option value="0-30 menit">0-30 menit</option>
                                        <option value="30 menit - 1 jam">30 menit - 1 jam</option>
                                        <option value="1 - 1.5 jam">1 - 1.5 jam</option>
                                        <option value="1.5 - 2 jam">1.5 - 2 jam</option>
                                    </select>
                                </div>
                                <button class="btn btn-info" id="submit" value="Submit">Kirim</button>
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        
    </div>
</div>
<div class="change-theme d-flex align-items-center mb-5 mt-3">
    <input type="checkbox" hidden="hidden" id="theme">
    <label class="switch" for="theme"></label>
</div>

{% endblock %}

{% block customjs %}
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/list.js' %}"></script>
<script src="{% static 'js/workout.js' %}"></script>
{% endblock %}
