{% extends '../base/base.html' %}
{% load static %}

{% block title %}
    BMI 
{% endblock title %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'css/workout.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="col-xl-12 col-md-12 my-3" >
            <div class="wrapper">
            <div class="card box-shadow h-100">
                <div class="card-body">   
                    <div class="img">
                        {% if bmi == 0 %}
                        <img src="{% static 'img/workout/empty.svg' %}" width=20% style="margin: auto; display: block;">
                        {% elif bmi < 18.5 %}
                        <img src="{% static 'img/workout/sad.svg' %}" width=20% style="margin: auto; display: block;">
                        {% elif bmi > 18.5 and bmi < 25 %}
                        <img src="{% static 'img/workout/happy.svg' %}" width=20% style="margin: auto; display: block;">
                        {% elif bmi > 25 and bmi < 29.9 %}
                        <img src="{% static 'img/workout/pre.svg' %}" width=20% style="margin: auto; display: block;">
                        {% elif bmi > 29.9 and bmi < 32.9 %}
                        <img src="{% static 'img/workout/sad.svg' %}" width=20% style="margin: auto; display: block;">
                        {% elif bmi > 32.9 %}
                        <img src="{% static 'img/workout/class1.svg' %}" width=20% style="margin: auto; display: block;">
                        {% endif %}
                    </div>
              
    
                {% if bmi != 0 %}
                <div class="text-xs text-center font-weight-bold mt-5">
                <h3><b>Halo {{user.username}}</b></h3>
                <p>Kamu memiliki berat badan sebesar {{get_data.berat_badan}} kg dan tinggi badan {{ get_data.tinggi_badan }} cm,</p>
                <p>maka BMI mu sebesar :</p>
                <h3 class="font-weight-bold my-3">{{bmi}}</h3>
                <div class="my-4 font-weight-bold">
                    {% if bmi < 18.5 %}
                        <p>BMI mu tergolong "Underweight"</p>
                    {% elif bmi > 18.5 and bmi < 25 %}
                        <p>BMI mu tergolong "Normal"</p>
                    {% elif bmi > 25 and bmi < 29.9 %}
                        <p>BMI mu tergolong "Preobese"</p>
                    {% elif bmi > 29.9 and bmi < 34.9 %}
                        <p>BMI mu tergolong "Obese Class I"</p>
                    {% elif bmi > 35 %}
                        <p>BMI mu tergolong "Obese Class II"</p> 
                    {% endif %}
                </div>
                </div>
                {% else %}
                <div class="text-xs text-center font-weight-bold mt-5">
                    <p>Tolong update profile mu terlebih dahulu</p>
                </div>
                {% endif %}
            </div>
        </div>
        </div>
        <div class="change-theme d-flex align-items-center mt-4">
            <input type="checkbox" hidden="hidden" id="theme">
            <label class="switch" for="theme"></label>
        </div>
    </div>
</div>
{% endblock %}

{% block customjs %}
<script src="{% static 'js/bmi.js' %}"></script>
{% endblock %}
   