{% extends '../base/base.html' %}
{% load static %}

{% block title %}
    Activity
{% endblock title %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'css/workout.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if bmi == 0 %}
    <div class="col-xl-12 col-md-12 my-3">
        <div class="col-xl-12 col-md-12 my-3">
        <div class="card box-shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs text-center font-weight-bold text-uppercase mb-1">
                            <p>BMI mu masih kosong</p>
                            <p>update profilmu terlebih dahulu</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </div>
</div>

    {% else %}
    <div class="col-xl-12 col-md-12 my-3">
    <h3 class="text-xs text-center font-weight-bold text-uppercase mb-1">Bagikan juga kegiatanmu <a href="{% url 'workout:creatework' %}" style="color:#065a6ec7;;">disini</a></h3>
    <div class="col-xl-12 col-md-12 my-3">
    <div class="card box-shadow h-100">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs text-center font-weight-bold text-uppercase mb-1">
                            {% if bmi < 18.5 %}
                            <p>BMI mu tergolong "Underweight"</p>
                            <p>Workout yang dapat kamu coba berdasarkan BMI mu</p>
                            <div class="img">
                                <img src="{% static 'img/workout/badminton.svg' %}" width=30%>
                            </div>
                        {% elif bmi > 18.5 and bmi < 25 %}
                            <p>BMI mu tergolong "Normal"</p>
                            <p>Workout yang dapat kamu coba berdasarkan BMI mu</p>
                            <div class="img">
                                <img src="{% static 'img/workout/swim.svg' %}" width=30%>
                            </div>
                        
                        {% elif bmi > 25 and bmi < 29.9 %}
                            <p>BMI mu tergolong "Preobese"</p>
                            <p>Workout yang dapat kamu coba berdasarkan BMI mu</p>
                            <div class="img">
                                <img src="{% static 'img/workout/basket.svg' %}" width=30%>
                            </div>
                            
                        {% elif bmi > 29.9 and bmi < 34.9 %}
                            <p>BMI mu tergolong "Obese Class I"</p>    
                            <p>Workout yang dapat kamu coba berdasarkan BMI mu</p>
                            <div class="img">
                                <img src="{% static 'img/workout/drill.svg' %}" width=30%>
                            </div>
                     
                        {% elif bmi > 35 %}
                            <p>BMI mu tergolong "Obese Class II"</p>
                            <p>Workout yang dapat kamu coba berdasarkan BMI mu</p>
                            <div class="img">
                                <img src="{% static 'img/workout/weightlift.svg' %}" width=30%>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="change-theme d-flex align-items-center mb-5 mt-3">
    <input type="checkbox" hidden="hidden" id="theme">
    <label class="switch" for="theme"></label>
</div>
<!------------------------------------->
    <div class="col-xl-12 col-md-12 my-3" >
        <div class="row my-3" id="ini-hasil">
                  <!--hasilnya disini--> 
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block customjs %}
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/list.js' %}"></script>
<script src="{% static 'js/workout.js' %}"></script>
{% endblock %}


